body{
    padding: 0;
    margin: 0;
}
/* .bg-img{
    background-image: url(./DSC_5513\ copy.jpg);
    width: 100%;
	height:100vh;
    background-repeat: no-repeat;
	background-position: center;
    background-size: contain;
    opacity: 3;
} */
.bg{
    background-color: white;
    width: 100%;
	height:100vh;
    background-color:rgb(231, 219, 197);
}
.bg-img img{
    width: 140px;
    height: 150px;
    /* margin: 50px 0px 0px 600px; */
    border-radius: 70px;
    margin-top: 50px;
    border: 10px solid plum;
    outline-style: double;
    outline-color: rgb(235, 230, 230);
}
.bg p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.bg h3{
    text-align: center;
    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.bg h5{
    text-align: center;
    color: plum;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.bg h6{
    text-align: center;
    color: black;
    font-style: italic;
    font-weight: lighter;
    font-size: 13px;
}
